@echo off



cd /d F:\gitting_serious\markdown-ez

set "confirmFlag="
set "helpFlag="
set "allFilesFlag="

set "helpText=Usage: lyricreader [filename] [options]&echo\Options:&echo\  -h       Show this help message&echo\  -a        Show all files in the directory&echo\  -y       Create new file flag"

for %%i in (%*) do (
    if /i "%%i"=="-y" set "confirmFlag=1"
    if /i "%%i"=="-h" set "helpFlag=1"
    if /i "%%i"=="-a" set "allFilesFlag=1"
)

if "%~1"=="" (
    if defined helpFlag (
        echo %helpText%
    ) else (
        npm start
    )
) else if defined confirmFlag (
    npm start %1 y
) else if defined helpFlag (
    echo %helpText%
) else if defined allFilesFlag (
    echo:
    dir /b F:\gitting_serious\markdown-ez\lyrics\
) else if "%~1" neq "" (
    npm start %1
) else (
    echo Invalid flag. Use -h for help.
)