@echo off


set "confirmFlag="
set "helpFlag="
set "allFilesFlag="
set "verboseFlag="
set "helpText=Usage: lyricreader [filename] [options]&echo\Options:&echo\  -h       Show this help message&echo\  -a        Show all files in the directory&echo\  -y       Create new file flag&echo\  -V      Be verbose"

for %%i in (%*) do (
    if /i "%%i"=="-y" set "confirmFlag=1"
    if /i "%%i"=="-h" set "helpFlag=1"
    if /i "%%i"=="-a" set "allFilesFlag=1"
    if /i "%%i"=="-V" set "verboseFlag=1"
)

cd /d F:\gitting_serious\markdown-ez

if "%~1"=="" (
    echo %helpText%
) else if defined confirmFlag (
    if defined verboseFlag (
        npm start %1 y
    ) else (
        npm --silent start %1 y
    )
) else if defined helpFlag (
    echo %helpText%
) else if defined allFilesFlag (
    echo:
    dir /b F:\gitting_serious\markdown-ez\lyrics\
) else if "%~1" neq "" (
    if defined verboseFlag (
        npm start %1
    ) else (
        npm --silent start %1
    )
) else (
    echo Invalid flag. Use -h for help.
)